.page#page-04
  .text
    p.p1 
      | On the weekend they
      br
      | all go to the park.
    p.p2.p2b
      | There are ducks
      br
      | that may quack. 
    
    p.p3
      | There are dogs 
      br
      | that might bark.
  
  img#duck.char(src="/img/duck.svg" data-sound="quack")
  img#dog.char(src="/img/dog.svg" data-sound="bark")
