.page#page-05
  .text
    p.p1 
      | Together they go
      br
      | on a bicycle ride&hellip;
    p.p2 
      | &hellip;if the weather
      br
      | is nice and it's
      br
      | not raining
      br
      | outside!

  img#bicycle-1.char(src="/img/bicycle-1.svg")
  img#bicycle-2.char(src="/img/bicycle-2.svg")
