.page#page-07
  .text
    p.p1
      | On Saturday morning
      br
      | they swim in the pool.

    p.p2.p2b
      | Splashing is fun but
      br
      | to run is not cool.

    p.p3
      | If you do it and trip&hellip;
      br
      | You will look like a fool!
