.page#page-03
  .text
    p.p1
      | Dad is taller and 
      br
      | has his glasses.
      br
      | Mum is smaller and
      br
      | has her passes.

    p.p2
      | Mum has passes for
      br
      | the train and the zoo.
      br
      | Dad has glasses to
      br
      | see who is who.
