.page#page-10
  .text
    p.p1
      | Dad 
      small.small and
      |  Mum,
      br
      | Felix 
      small.small and
      |  Leo

    p.p2
      small.small &nbsp;That's
      br
      |  F-E-L-I-X
      br
      | L 
      small.small
        | &amp;
        br
        | then
      |  E-O
