.page#page-06
  .text
    p.p1 
      | When the kitchen is empty
      br
      | the market has food.

    p.p2.p2b
      | With cheese from the guy
      br
      | and meat from the dude.

    p.p3
      | Sometimes there is
      br
      | even a treat&hellip;
      br
      | Which you have to eat
      br
      | so as not to be rude!

  img#cheese.char(src="/img/cheese.svg")
  img#sausage.char(src="/img/sausage.svg")
