.page#page-02
  .text
    p.p1
      | Felix is tall
      br
      | and loud
      br
      | and cheeky.
    p.p2
      | Leo is small
      br
      | and round
      br
      | and peachy.
      
  img#smile-2.char(src="img/smile-2.svg")
  img#smile-1.char(src="img/smile-1.svg")
