.page#page-09
  .text
    p.p1 
      | Then after dinner at
      br
      | the end of the night,

    p.p2.p2b
      | they get into beds
      br
      | that are all 
      br
      | soft and white.

    p.p3
      | A kiss on the cheek
      br
      | and tucked in so tight&hellip;
      br
      | Mum and dad, it is time
      br
      | to turn off the light.

  img#star-1(src="/img/star-1.svg")
  img#star-2(src="/img/star-2.svg")
