.page#page-02
  .text
    p.p1
      | Felix is tall
      br
      | and loud
      br
      | and cheeky.
    p.p2
      | Leo is small
      br
      | and round
      br
      | and peachy.

  img#smile(src="img/smile.svg")
