.page#page-08
  .text
    p.p1
      | In the afternoon
      br
      | it's time to play,

    p.p2.p2b
      | with trucks
      br
      | and cars&hellip;
    
    p.p3
      | &hellip;until the end
      br
      | of the day.

  img#truck.char(src="img/truck.svg")
