#page-09
  color: #fff
  background-color: #2b3990
  font-size: 44px

  .p1
    width: 75%

  .p2b
    bottom: 45%

#star-1,
#star-2,
#star-3,
#bed
  position: absolute

#star-1
  right: 12%
  top: 7%

#star-2
  right: 25%
  top: 15%

#star-3
  right: 14%
  bottom: 14%
  width: 140px

#bed
  left: 8%
  top: 29%
